code:not([class]):not([id]) {
  background-color: #343541;
  color: #d9d9e3;
  padding: .5em;
  border-radius: 8px;
  overflow: auto;
  line-height: 1.1;
  display: inline-block;
  font-size: .9em;
  vertical-align: bottom;
}

.codeBlock {
  background-color: black;
  margin-top:                     0;
  padding:                        8px;
  border-bottom-left-radius:      8px;
  border-bottom-right-radius:     8px;
  overflow:                       auto;
  font-family: "Cascade Code", Consolas, "Courier New", monospace;
}

.codeTitle {
  border-top-right-radius:      8px;
  border-top-left-radius:       8px;
  color: #d9d9e3;
  background-color:   #343541;
  margin-bottom:      0;
  padding:            5px 10px;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* ::-webkit-scrollbar-track {
  background-color: #222;
} */

::-webkit-scrollbar-thumb {
  background-color: #666;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #aaa;
}