.dayView {
  width: 100%;
  min-height: 180px; /* 限制 DayView 高度，避免过高 */
  border-radius: 8px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  padding: 10px; /* 让内容稍微紧凑 */

  &.weekday {
    background-color: #fcfcfc;
  }

  &.weekend {
    background-color: #ededed;
  }

  &.week-mode {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
}

.detailsButton {
  width: 100%;
  background-color: #1890ff;
  color: white;
  border: none;
  padding: 8px 10px;
  border-radius: 4px;
  margin-top: 8px;
  cursor: pointer;
  display: block;
}

.week-mode .detailsButton {
  display: none; /* 在 week 视图下隐藏按钮 */
}

.scheduleListCard {
  height: 100%;

  :global {
    .ant-list-item {
      padding: 16px 0; /* 增加上下内边距 */
      border-bottom: 1px solid #f0f0f0;
      position: relative;
      overflow: hidden;
      flex-direction: column; /* 垂直排列子元素 */
    }

    .course-header {
      display: flex;
      align-items: center;
      margin-bottom: 12px; /* 增加与下方信息的间距 */
      width: 100%;
    }

    .period-tag {
      margin-right: 12px;
      font-weight: normal;
      flex-shrink: 0;
    }

    .course-title {
      font-size: 16px;
      font-weight: bold;
      color: @primary-color;
      flex: 1;
    }

    .course-info {
      margin-bottom: 8px;
      padding-left: 4px;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      width: 100%;
      gap: 4px;
      font-size: 14px;
      line-height: 1.5;
      // border-left: 3px solid #f0f0f0;
      padding-left: 8px;
    }

    .class-name {
      font-weight: 700;
      padding-right: 2vw;
    }

    .course-type-watermark {
      position: absolute;
      right: 10px;
      bottom: 5px;
      font-size: 48px;
      font-weight: bold;
      opacity: 0.06;
      color: @primary-color;
      transform: rotate(-15deg);
      pointer-events: none;
      z-index: 0;
    }
  }
}
