/* LoginModal.less */
.login-modal {
  :global {
    .ant-modal-content {
      border-radius: 8px;
      overflow: hidden;
    }

    .ant-modal-header {
      padding: 6px 24px;
      border-bottom: 1px solid #f0f0f0;
    }

    .ant-modal-body {
      padding: 6px 24px;
    }
  }
}

.login-form {
  max-width: 100%;

  :global {
    .ant-form-item {
      margin-bottom: 16px;
    }
  }
}

.modal-title {
  margin: 0;
}

.modal-description {
  margin-bottom: 24px;
}

.input-prefix-icon {
  color: rgba(0, 0, 0, 0.25);
}

.input-field {
  width: 100%;
}

.password-field {
  width: 100%;
}

.login-button {
  width: 100%;
}

/* 新增样式 */
.warning-icon {
  color: #ff4d4f;
  font-size: 22px;
}

.warning-content {
  margin-top: 16px;
}

.warning-paragraph {
  margin-bottom: 8px;
}

.warning-list {
  padding-left: 20px;
  margin: 5px 0;
  list-style-type: disc;
}

.warning-text-bold {
  font-weight: 600;
  color: #ff4d4f;
}

.warning-confirm {
  margin-top: 16px;
}

.tooltip-warning {
  p {
    margin-bottom: 5px;
  }

  ul {
    padding-left: 15px;
    margin: 5px 0;
  }
}

.tooltip-icon {
  color: #ff4d4f;
}

/* 添加倒计时文本样式 */
.countdown-text {
  color: #ff4d4f;
  font-weight: 500;
  margin-left: 8px;
}
